<%include inc/header.inc%>

<script id="data-tmpl" type="text/html">
		<div class="vali-list">
		<div class="errerTxt js-errerTxt"></div>
		<table class="tb-default" >
			<tr>
					<td class="tb-left">工具名称：</td>
					<td class="tb-cen">
							<input type="text" class="form-control" placeholder="" data-name="工具名称" data-id='toolName' value="{%=result.listData[0].toolName%}">
					</td>
					<td><i>*<i></td>
		</tr>
		<tr>
			<td class="tb-left">工具地址：</td>
			<td class="tb-cen"><input type="text" class="form-control" placeholder="请输入URL地址" data-name="工具地址"  data-id='url' value="{%=result.listData[0].url%}"></td>
			<td><i>*<i></td>
		</tr>
		<tr>
			<td class="tb-left">图片地址：</td>
			<td class="tb-cen"><input type="text" class="form-control" placeholder="相对地址示例:/static/img/tools/a.jpg" data-name="图片地址"  data-id='imgUrl'></td>
			<td></td>
		</tr>
		<tr>
			<td class="tb-left" valign="top">所属分类：</td>
			<td class="tb-fenlei" id="cate">
				{%for (var j=0; j< result.cate.length; j++){%}
					<label id="gj-{%=j%}"><input type="checkbox" name="gj-{%=j%}" class="checkbox-inline" data-cateid={%=result.cate[j].cateId%} 
					{%result.connData.forEach(function(item,num	){%}
							{%if(result.cate[j].cateId == item.cateId){%}checked{%}%}
					{%})%}
					> <span>{%=result.cate[j].cateName%}</span></label>
				{%}%}
			</td>
			<td><i>*<i></td>
		</tr>
		<tr>
			<td class="tb-left">工具简介：</td>
			<td><input type="text" class="form-control" placeholder="一句话描述工具，50字之内"  data-name="工具简介"  data-id='profile' value="{%=result.listData[0].profile%}"></td>
			<td><i>*<i></td>
		</tr>
		<tr>
			<td class="tb-left">邮箱地址：</td>
			<td><input type="text" class="form-control" placeholder="请留下您的邮箱，以便联系" data-name="邮箱地址"  data-id='email' value="{%if(result.listData[0].email){%}{%=result.listData[0].email%}{%}else{%}liuyingying@360.cn{%}%}"></td>
			<td><i>*<i></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="button" value="确定" class="btn btn-success js-submit"/></td>
			<td><a href="javascript:;" class="js-undo">忽略</a></td>
		</tr>
		</table>
		</div>
	</script>
	
	<div class="form-wrap">
		<div class="tips center">说明：点击所属分类项会实时改变分类哦~</div>
		<div class="form-title">工具编辑</div>
		<div class="table-wrap" id="cont" data-toolid="<%=toolId%>"></div>
		
	</div>
	
	<script src="/static/js/ejs.js"></script>
	<script type="text/javascript" src="/static/js/userInf.js"></script>
	<script type="text/javascript" src="/static/js/edit.js"></script>
</body>
</html>